* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    transition: transform 1s ease-in-out;

}

#root.collapse {
        transform: translateY(-350px);
    }

#header {
    height: 10vh;
}

#note-capture {
    height: 350px;
    border: 1px solid green;
}

button {
    display: block;
    margin: 1rem;
    padding: 0.5rem
}

textarea {
    margin: 1rem;
    padding: 1.5rem;
    border: none;
    font-size: 1.5rem;
    outline: none;
    position: relative;
    resize: none;
    border-radius: 0.8rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5)
}

#main-content {
    /* height: 50vh; */
    /* position: relative; */
    border: 1px solid blue;
}

#full-note {
    height: 100vh;
}

#footer {
    height: 10vh;
}

.single-link {
    cursor: pointer;
}

.single-link:hover {
    color: blue;
}


