#header {
    height: 10vh;
}

#note-capture {
    height: 35vh;
}

button {
    display: block;
}

textarea {
    border: none;
    font-size: 1.5rem;
    outline: none;
}

#main-content {
    height: 65vh;
    background-color: antiquewhite;
}

#full-note {
    height: 100vh;
}

#footer {
    height: 10vh;
}

.single-link {
    cursor: pointer;
}

.single-link:hover {
    color: blue;
}
